@import 'bootstrap.min.css';
@import 'fonts/stylesheet.css';

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}

.header__link{

    width: 81px;
    height: 13px;
    color: #ffffff;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left:40px;
    text-decoration: none !important;
}

.active{
    padding: 11px 24px;
    border-radius: 30px;
    border: 2px solid #f6f7f9;
}

body{
    background-image: url(../img/2-layers.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header__items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.logo{
    display:flex;
    align-items: flex-end;     
}

.logo img{
    margin-right: 10px;
}

.home__info{
    margin-top:110px;
}

.home__info h1{
    margin-top: 45px;
    width: 393px;
    color: #33334f;
    font-family: "roboto";
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
}

.home__info p{
    margin-top:25px;
    width: 427px;
    height: 72px;
    color: #767ead;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.home__info-button{
    padding: 10px 24px;
    border-radius: 28px;
    background-color: #8065ff;
    color: #fafeff;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 25px 15px 0 0;
    display: inline-block;
}


.home__info-button:hover{

    background-color: #fafeff;
    color: #8065ff;
    text-decoration: none;
  
}

.home__info-link{
    margin-top: 60px;
}

.home__info-link a{
   
    text-decoration: none;
    color: #767ead;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  
}

.home__info-link img{

    margin-right: 5px;
  
}

#fb{
    margin-left:15px;
}

#users-p{
    width: 477px;
    color: #33334f;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top:58px;
}

.partners{
    margin-top: 30px;
}

.business__info{
    margin-top: 325px;
    display:flex;
    align-items: center;
    flex-flow: column;

}

.business__info h2{
  
    margin-top: 30px;
    color: #33334f;
    font-family: "roboto";
    font-weight: 700;
    line-height: 56.89px;
    
}

.business__info p{
  
    margin-top: 20px;
    width: 694px;
    height: 65px;
    color: #767ead;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24.95px;
    text-align: center;
    
}














.rodape{
    margin-top:3000px;
}
